    /*
    Flaticon icon font: Flaticon
    Creation date: 25/09/2019 14:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-money:before { content: "\f100"; }
.flaticon-student:before { content: "\f101"; }
.flaticon-shout:before { content: "\f102"; }
.flaticon-tower:before { content: "\f103"; }
.flaticon-sale:before { content: "\f104"; }
.flaticon-pencil:before { content: "\f105"; }
.flaticon-doctor:before { content: "\f106"; }
.flaticon-hr:before { content: "\f107"; }
.flaticon-car:before { content: "\f108"; }
.flaticon-team:before { content: "\f109"; }
.flaticon-user:before { content: "\f10a"; }
.flaticon-portfolio:before { content: "\f10b"; }
.flaticon-branch:before { content: "\f10c"; }
.flaticon-pin:before { content: "\f10d"; }
.flaticon-clock:before { content: "\f10e"; }
.flaticon-discount:before { content: "\f10f"; }
.flaticon-work:before { content: "\f110"; }
.flaticon-phone:before { content: "\f111"; }
.flaticon-mail:before { content: "\f112"; }
.flaticon-internet:before { content: "\f113"; }
.flaticon-plus:before { content: "\f114"; }
.flaticon-wallet:before { content: "\f115"; }
.flaticon-woman:before { content: "\f116"; }
.flaticon-patent:before { content: "\f117"; }
.flaticon-notepad:before { content: "\f118"; }
.flaticon-view:before { content: "\f119"; }
.flaticon-x:before { content: "\f11a"; }
.flaticon-calendar:before { content: "\f11b"; }
.flaticon-bell:before { content: "\f11c"; }
.flaticon-search:before { content: "\f11d"; }
.flaticon-password:before { content: "\f11e"; }
.flaticon-payment:before { content: "\f11f"; }
.flaticon-hr-1:before { content: "\f120"; }
.flaticon-logout:before { content: "\f121"; }
.flaticon-dashboard:before { content: "\f122"; }
.flaticon-alert:before { content: "\f123"; }
.flaticon-google-play:before { content: "\f124"; }
.flaticon-apple:before { content: "\f125"; }
.flaticon-app:before { content: "\f126"; }
.flaticon-app-1:before { content: "\f127"; }
.flaticon-heart:before { content: "\f128"; }
.flaticon-shield:before { content: "\f129"; }
    
    $font-Flaticon-money: "\f100";
    $font-Flaticon-student: "\f101";
    $font-Flaticon-shout: "\f102";
    $font-Flaticon-tower: "\f103";
    $font-Flaticon-sale: "\f104";
    $font-Flaticon-pencil: "\f105";
    $font-Flaticon-doctor: "\f106";
    $font-Flaticon-hr: "\f107";
    $font-Flaticon-car: "\f108";
    $font-Flaticon-team: "\f109";
    $font-Flaticon-user: "\f10a";
    $font-Flaticon-portfolio: "\f10b";
    $font-Flaticon-branch: "\f10c";
    $font-Flaticon-pin: "\f10d";
    $font-Flaticon-clock: "\f10e";
    $font-Flaticon-discount: "\f10f";
    $font-Flaticon-work: "\f110";
    $font-Flaticon-phone: "\f111";
    $font-Flaticon-mail: "\f112";
    $font-Flaticon-internet: "\f113";
    $font-Flaticon-plus: "\f114";
    $font-Flaticon-wallet: "\f115";
    $font-Flaticon-woman: "\f116";
    $font-Flaticon-patent: "\f117";
    $font-Flaticon-notepad: "\f118";
    $font-Flaticon-view: "\f119";
    $font-Flaticon-x: "\f11a";
    $font-Flaticon-calendar: "\f11b";
    $font-Flaticon-bell: "\f11c";
    $font-Flaticon-search: "\f11d";
    $font-Flaticon-password: "\f11e";
    $font-Flaticon-payment: "\f11f";
    $font-Flaticon-hr-1: "\f120";
    $font-Flaticon-logout: "\f121";
    $font-Flaticon-dashboard: "\f122";
    $font-Flaticon-alert: "\f123";
    $font-Flaticon-google-play: "\f124";
    $font-Flaticon-apple: "\f125";
    $font-Flaticon-app: "\f126";
    $font-Flaticon-app-1: "\f127";
    $font-Flaticon-heart: "\f128";
    $font-Flaticon-shield: "\f129";